body {

}

.wizard-box {
    border: 1px solid #ccc;
    box-shadow: 5px 5px 5px #ccc;
}

.padding50 {
    padding: 60px;
}

/* images */
.bg1 {
    background: url('../../content/images/wizard1.png') no-repeat;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    height: 387px;
}

.heading-blue {
    padding: 10px 30px;
    background-color: #188CCC;
    color: white;
    margin-left: 8px;
}
.heading-orange {
    padding: 10px 30px;
    background-color: #F68621;
    color: white;
    margin-left: 8px;
}
.heading-green {
    padding: 10px 30px;
    background-color: #39B54A;
    color: white;
    margin-left: 8px;
}
.heading-blue-dark {
    padding: 10px 30px;
    background-color: #004986;
    color: white;
    margin-left: 8px;
}

.box-gradient-green {
    background: #bfd255;
    background: -moz-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfd255), color-stop(50%,#8eb92a), color-stop(51%,#72aa00), color-stop(100%,#9ecb2d));
    background: -webkit-linear-gradient(top, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
    background: -o-linear-gradient(top, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
    background: -ms-linear-gradient(top, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
    background: linear-gradient(to bottom, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 );
}

.radius-5 {
    border-radius: 0 0 5px 5px;
}

.quick-search {
    background-color: #f9f9f9;
    opacity: .9;
    padding: 10px 20px;
    border-radius: 5px 5px 0 0;
    font-size: 32px;
}

.green {
    color: #39B54A;
}