body {

}

.wizard-box {
    border: 1px solid #ccc;
    box-shadow: 5px 5px 5px #ccc;
}

.padding50 {
    padding: 60px;
}

/* images */
.bg1 {
    background: url('../../content/images/wizard1.png') no-repeat;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    height: 387px;
}

.heading-blue {
    padding: 10px 30px;
    background-color: #188CCC;
    color: white;
    margin-left: 8px;
}
.heading-orange {
    padding: 10px 30px;
    background-color: #F68621;
    color: white;
    margin-left: 8px;
}
.heading-green {
    padding: 10px 30px;
    background-color: #39B54A;
    color: white;
    margin-left: 8px;
}