
<section ng-controller="TabController as tab">
<!--
<button class="btn btn-primary"  ng-click="tab.setTab(2)">Learn More</button>
<button class="btn btn-primary"  ng-click="tab.setTab(3)">Learn More</button>
-->


<div ng-show="tab.isSet(1)"> <!-- (3) Use the isSet method to show the corresponding tab. You'll need to add a directive to each of the <div> elements in .tab.-->
    <wizard-home></wizard-home>
</div>
<div ng-show="tab.isSet(2)">
    <div class="row">
        <div class="col-md-12">
            <div class="wizard-box">
                <div class="row">
                    <div class="col-md-3">
                        <img src="content/images/wizard1.png"/>

                    </div>
                    <div class="col-md-8">
                        <div class="padding50">
                            <h2>Let's begin!</h2>
                            <p class="lead">
                                What plan are you looking for?
                                <br/><br/>
                                <button class="btn btn-primary"  ng-click="tab.setTab('healthPlan')">Health</button>
                                <button class="btn btn-primary"  ng-click="tab.setTab('dentalPlan')">Dental</button>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div ng-show="tab.isSet('healthPlan')">
	<h4>Reviews</h4>
</div>

<div ng-show="tab.isSet('dentalPlan')">
    <h4>Reviews</h4>
</div>
</section>



<div class="container">

    <div class="row">


        <div class="col-md-4">
            <h2>Data Binding</h2>
            <p>
                At the core of the Angular framework is the <strong>view</strong>, <strong>scope</strong> and <strong>controller</strong> which use the <strong>M</strong>odel <strong>V</strong>iew <strong>C</strong>ontroller design pattern.
            </p>
            <p>
                <button class="btn btn-primary" ng-click="openMvc()">Learn More</button>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Components</h2>
            <p>
                Components are small, simple, reusable and self-contained pieces of code that encapsulate a specific behavior. The AngularJS Framework provides <strong>services</strong>, <strong>directives</strong>, <strong>controllers</strong> and <strong>filters</strong> as a way to easily componentize applications.
            </p>
            <p>
                <button class="btn btn-primary" ng-click="openComponents()">Learn More</button>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Bootstrap</h2>
            <p>
                Access to components such as icons, dropdowns, buttons, and navigation and CSS including an awesome responsive grid system! <strong>Angular-Strap</strong> provides Angular directives for easy integration of these Bootstrap components
            </p>
            <p>
                <button class="btn btn-primary" ng-click="openBootstrap()">Learn More</button>
            </p>
        </div>
    </div>
</div>
