<div class="quick-search">
<span class="green"><img src="content/icons/Objects_Icons/green/png/Cigna_icon_chat-green.png" width="40px"> Quick Search</span>
</div>
<div class="box-gradient-green radius-5" style="padding: 10px;margin-bottom: 20px;">
    <div class="input-group input-group-lg">
        <input type="text" class="search-box form-control input-lg" name="value" placeholder="Find the best option for you..." value="">
					<span class="input-group-btn">
						<button class="search-box-button btn btn-primary btn-lg" type="submit"><i class="fa fa-search"></i></button>
					</span>
    </div>
</div>

<section ng-controller="TabController as tab">

<div ng-show="tab.isSet(1)"> <!-- (3) Use the isSet method to show the corresponding tab. You'll need to add a directive to each of the <div> elements in .tab.-->
    <div ng-include="'modules/app/templates/wizard/home.html'"></div>
</div>
<div ng-show="tab.isSet('step2')">
    <div ng-include="'modules/app/templates/wizard/step2.html'"></div>
</div>

<div ng-show="tab.isSet('step3')">
    <div ng-include="'modules/app/templates/wizard/step3.html'"></div>
</div>

<div ng-show="tab.isSet('step4')">
    <div ng-include="'modules/app/templates/wizard/step4.html'"></div>
</div>

<div ng-show="tab.isSet('step5')">
    <div ng-include="'modules/app/templates/wizard/step5.html'"></div>
</div>
</section>



<div class="container">

    <div class="row">


        <div class="col-md-4">
            <h2>Data Binding</h2>
            <p>
                At the core of the Angular framework is the <strong>view</strong>, <strong>scope</strong> and <strong>controller</strong> which use the <strong>M</strong>odel <strong>V</strong>iew <strong>C</strong>ontroller design pattern.
            </p>
            <p>
                <button class="btn btn-primary" ng-click="openMvc()">Learn More</button>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Components</h2>
            <p>
                Components are small, simple, reusable and self-contained pieces of code that encapsulate a specific behavior. The AngularJS Framework provides <strong>services</strong>, <strong>directives</strong>, <strong>controllers</strong> and <strong>filters</strong> as a way to easily componentize applications.
            </p>
            <p>
                <button class="btn btn-primary" ng-click="openComponents()">Learn More</button>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Bootstrap</h2>
            <p>
                Access to components such as icons, dropdowns, buttons, and navigation and CSS including an awesome responsive grid system! <strong>Angular-Strap</strong> provides Angular directives for easy integration of these Bootstrap components
            </p>
            <p>
                <button class="btn btn-primary" ng-click="openBootstrap()">Learn More</button>
            </p>
        </div>
    </div>
</div>
