<div class="jumbotron">
    <h2 ng-bind="message"></h2>
    <p class="lead">
        Angular JS is a framework for creating single page web applications.
        This means that you can swap out html partials without reloading the page using angular routes.
        Some simple routes have been provided in the nav bar above. Get started with some basic info below and look for some helpful comments in the code!
    </p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Data Binding</h2>
            <p>
                At the core of the Angular framework is the <strong>view</strong>, <strong>scope</strong> and <strong>controller</strong> which use the <strong>M</strong>odel <strong>V</strong>iew <strong>C</strong>ontroller design pattern.
            </p>
            <p>
                <button class="btn btn-primary" ng-click="openMvc()">Learn More</button>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Components</h2>
            <p>
                Components are small, simple, reusable and self-contained pieces of code that encapsulate a specific behavior. The AngularJS Framework provides <strong>services</strong>, <strong>directives</strong>, <strong>controllers</strong> and <strong>filters</strong> as a way to easily componentize applications.
            </p>
            <p>
                <button class="btn btn-primary" ng-click="openComponents()">Learn More</button>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Bootstrap</h2>
            <p>
                Access to components such as icons, dropdowns, buttons, and navigation and CSS including an awesome responsive grid system! <strong>Angular-Strap</strong> provides Angular directives for easy integration of these Bootstrap components
            </p>
            <p>
                <button class="btn btn-primary" ng-click="openBootstrap()">Learn More</button>
            </p>
        </div>
    </div>
</div>
