<div class="modal center am-fade-and-scale">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">×</button>
                <h4 class="modal-title">Angular MVC</h4>
            </div>
            <div class="modal-body">
                <p>
                    The <strong>view</strong> is a compiled angular template like example1.html or example2.html.
                    A template is essentially HTML with additional markup, when it is compiled to a DOM it serves as the view.
                </p>
                <p>
                    The <strong>scope</strong> is the context where the <strong>model</strong> is stored. The model is a javaScript object. Two way data binding between the view and the controller keeps this model as the single source of truth.
                    The view is updated automatically whenever the model changes, and the model is updated whenever the view changes.
                </p>
                <p>
                    A <strong>controller</strong> contains the logic to handle the view and model binding of the $scope it is assigned. Everytime you make a new controller, it get's a new $scope.
                </p>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
