<div class="row">
    <div class="col-md-12">
        <h2 class="heading-blue-dark">We have found the best option for you!</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="content/images/celebrate.png" style="box-shadow: 5px 5px 5px #ccc;"/>
    </div>
    <div class="col-md-8">
        <div class="padding20">
            <h2 class="green">DHMO Plan</h2>

            <div style="border-bottom: 1px dashed #ccc; padding: 10px 5px;">

                <div style="font-size: 20px;">Patient Charge Schedule</div>
                <div>In Network Only - K1-V9</div>
            </div>
            <div style="border-bottom: 1px dashed #ccc; padding: 10px 5px;">
                <div style="font-size: 20px;">Coinsurance Equivalency</div>
                <div>In Network Only - 100/80/50/50</div>
            </div>
            <div style="border-bottom: 1px dashed #ccc; padding: 10px 5px;">
                <div style="font-size: 20px;">Annual Maximum Benefits (Excludes Orthodontia)</div>
                <div>In Network Only - N/A</div>
            </div>
            <div style="border-bottom: 1px dashed #ccc; padding: 10px 5px;">
                <div style="font-size: 20px;">Orthodontia Benefit Child and Adult</div>
                <div>In Network Only - Covered</div>
            </div>
            <div style="border-bottom: 1px dashed #ccc; padding: 10px 5px;">
                <div style="font-size: 20px;">Lifetime Benefit Maximum (Excludes Orthodontia)</div>
                <div>In Network Only - N/A</div>
            </div>
            <div style="border-bottom: 1px dashed #ccc; padding: 10px 5px;">
                <div style="font-size: 20px;">Annual Maximum Benefits (Excludes Orthodontia)</div>
                <div>In Network Only - N/A</div>
            </div>
            <div style="border-bottom: 1px dashed #ccc; padding: 10px 5px;">
                <div style="font-size: 20px;">Annual Deductible (Individual/Family)</div>
                <div>In Network Only - N/A</div>
            </div>
            <br/>


            <div class="pull-right">
                <a href="#" class="btn btn-primary btn-lg">Learn More</a>
                <a href="#" class="btn btn-success btn-lg">Enroll now!</a>
            </div>
        </div>

    </div>
</div>
