<div class="row">
    <div class="col-md-12">
        <div class="wizard-box">
            <div class="row">
                <div class="col-md-3">
                    <img src="content/images/wizard1.png"/>
                </div>
                <div class="col-md-9">
                    <h2 class="heading-blue">Let us guide you!</h2>
                    <div class="padding50">
                        <p class="lead">
                            We know that choosing a plan is tedious task! Let us guide you!
                            <br/><br/>
                            What type of plan are you looking for?
                            <br/><br/>
                            <button class="btn btn-primary btn-lg"  ng-click="tab.setTab('step2')"><img src="content/icons/Medical_Icons/black/png/Cigna_icon_heartbeat.png" width="30px"/> Health</button>
                            <button class="btn btn-primary btn-lg"  ng-click="tab.setTab('step2')"><img src="content/icons/Medical_Icons/black/png/Cigna_icon_tooth.png" width="22px"/> Dental</button>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>