<div class="row">
    <div class="col-md-12">
        <div class="wizard-box">
            <div class="row">
                <div class="col-md-3">
                    <img src="content/images/wizard1.png"/>
                </div>
                <div class="col-md-8">
                    <div class="padding50">
                        <h2>Let us guide you!</h2>
                        <p class="lead">
                            We know that choosing a plan is tedious task! Let us guide you!
                            <br/><br/>
                            <button class="btn btn-primary btn-lg"  ng-click="tab.setTab(2)">GET STARTED</button>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>