<div class="row">
    <div class="col-md-12">
        <div class="wizard-box">
            <div class="row">
                <div class="col-md-3">
                    <img src="content/images/wizard1.png"/>

                </div>
                <div class="col-md-8">
                    <div class="padding50">
                        <h2>Let's begin!</h2>
                        <p class="lead">
                            What plan are you looking for?
                            <br/><br/>
                            <button class="btn btn-primary"  ng-click="tab.setTab('healthPlan')">Health</button>
                            <button class="btn btn-primary"  ng-click="tab.setTab('dentalPlan')">Dental</button>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>