<div class="row">
    <div class="col-md-12">
        <div class="wizard-box">
            <div class="row">
                <div class="col-md-3">
                    <img src="content/images/wizard1.png"/>
                </div>
                <div class="col-md-9">
                    <h2 class="heading-green">One last question!</h2>
                    <div class="padding50">
                        <p class="lead">
                            How much are you willing to pay for a deductible/coinsurance?
                            <br/>

                            <select class="input-lg" ng-change="tab.setTab('step7')">
                                <option>$0-500</option>
                                <option>$500-1500</option>
                                <option>$1500-3000</option>
                                <option>$3000-6000</option>
                                <option>$6000-12000</option>
                            </select>

                            <br/>
                            <br/>
                            <button class="btn btn-success btn-lg"  ng-click="tab.setTab('step6')">Find the best option</button>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>