<div class="row">
    <div class="col-md-12">
        <div class="wizard-box">
            <div class="row">
                <div class="col-md-3">
                    <img src="content/images/wizard2.jpg"/>
                </div>
                <div class="col-md-9">
                    <h2 class="heading-orange">Let’s get you started on identifying the right plan for you!</h2>
                    <div class="padding50">
                        <p class="lead">
                            Is your doctor affiliated with Cigna?
                            <br/><br/>
                            <button class="btn btn-warning btn-lg"  ng-click="tab.setTab('step3')">Yes</button>
                            <button class="btn btn-warning btn-lg"  ng-click="tab.setTab('step3')">No</button>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>