<div class="row">
    <div class="col-md-12">
        <div class="wizard-box">
            <div class="row">
                <div class="col-md-3">
                    <img src="content/images/wizard4.jpg"/>
                </div>
                <div class="col-md-9">
                    <h2 class="heading-blue">Doctor’s Visits</h2>
                    <div class="padding50">
                        <p class="lead">
                            How often do you or your family visit the doctor’s office?
                            <br/><br/>

                            <button class="btn btn-primary btn-lg"  ng-click="tab.setTab('step5')">Very Often</button>
                            <button class="btn btn-primary btn-lg"  ng-click="tab.setTab('step5')">Often</button>
                            <button class="btn btn-primary btn-lg"  ng-click="tab.setTab('step5')">Not Often</button>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>