<div class="row">
    <div class="col-md-12">
        <div class="wizard-box">
            <div class="row">
                <div class="col-md-3">
                    <img src="content/images/wizard3.jpg"/>
                </div>
                <div class="col-md-9">
                    <h2 class="heading-green">Who’s it for?</h2>
                    <div class="padding50">
                        <p class="lead">
                            Is this plan for an individual, or your family?
                            <br/><br/>

                            <button class="btn btn-success btn-lg"  ng-click="tab.setTab('step4')">Individual</button>
                            <button class="btn btn-success btn-lg"  ng-click="tab.setTab('step4')">Family</button>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>